<section class="jumbotron text-center bg-white">
  <h1 class="jumbotron-heading">Contactez nous !</h1>
  <p class="lead text-muted">06.06.06.06.06</p>
  <p class="lead text-muted">contact@contact.com</p>
</section>
